.label {
    -fx-font-size: 14px;
}

.electronics-store {
    -fx-font-size: 45px;
    -fx-font-weight: bold; 
    -fx-text-fill: white; 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.5, 2, 2);
}

.menu .label, .menu-item .label {
	-fx-font-size: 12px;
}

.button {
	-fx-font-size: 14px;
	-fx-cursor: hand;
	-fx-background-color: lightseagreen;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-border-color: white; 
	-fx-border-width: 2px;
	-fx-border-radius: 5px; 
	-fx-background-radius: 5px;
}

.text-field {
	-fx-font-size: 14px;
}

.update-button {
	-fx-background-color: orange;
	-fx-text-fill: white;
}

.delete-button {
	-fx-background-color: red;
	-fx-text-fill: white;
}

.payout-button {
	-fx-background-color: green;
	-fx-text-fill: white;
}

.title {
	-fx-font-size: 16px; 
	-fx-font-weight: bold;
	-fx-font-family: Arial;
}

.tool-bar {
    -fx-background-color: linear-gradient(lightsteelblue, steelblue);
}

.tool-bar .label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
}

.home-button {
    -fx-background-color: steelblue;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-padding: 10px 15px;
    -fx-wrap-text: true;
    -fx-pref-width: 200px;
    -fx-pref-height: 100px;
}

.home-button:hover {
    -fx-background-color: mediumslateblue;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-padding: 10px 15px;
    -fx-wrap-text: true;
    -fx-alignment: center;
}

.exception {
	-fx-text-fill: darkred;
	-fx-font-style: italic;
	-fx-background-radius: 10px;
	-fx-background-color: white;
}

.table-view {
    -fx-background-color: lightsteelblue; 
    -fx-border-color: steelblue; 
}

.table-view .column-header {
    -fx-background-color: steelblue;
    -fx-text-fill: white; 
    -fx-font-weight: bold; 
}

.table-view .table-row-cell {
    -fx-background-color: white; 
    -fx-border-color: steelblue;
}

.table-view .table-row-cell:focused {
    -fx-background-color: lightsteelblue; 
    -fx-text-fill: white; 
}

.table-view .table-cell {
    -fx-text-fill: black; 
}

.table-view .table-row-cell:hover {
    -fx-background-color: skyblue; 
}

.date-picker .date-picker-popup .month-year-pane .label {
    -fx-text-fill: black;
}
